
.main-header{
    background: rgba(56, 73, 21, 0.459);
    background-repeat: no-repeat;
    width: 95%;
    height: 590px;
    margin-top: 30px;
    margin-left: 40px;
    margin-right:40px;
    margin-bottom: 20px;
    border: 1px solid #000;
    border-radius: 10px;
   
}

h1{
    text-align:center;
    color: aliceblue;
    font-size: 4vw;
    margin-top: 250px;
}
h2{
    text-align:center;
    color: aliceblue;
    font-size: 2vw;
    margin-top: 15px;
}

.log{
    display: block;
    width: 100%;   
    border-radius: 5px 5px 0px 0px;
    height: 50px;
    background: rgba(41, 56, 22, 0.657);
    
}

.btn #lin{
    text-decoration: none;
    border: 1px solid green;
    border-radius: 5px;
    color: white;
    font-size: 1vw;
    padding: 0 10px;
    margin-left:85%;

}

.btn #sin{
    text-decoration: none;
    border: 1px solid green;
    border-radius: 5px;
    color: white;
    font-size: 1vw;
    margin-left:90%;
   
}
.container {
    margin-left: 20%;
    margin-right: 30%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input[type=text], select {
    width: 50%;
    
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 15%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}